<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block head %}
        {% endblock %}
        <title>Test</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://identity.uchicago.edu/c/fonts/proximanova.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            <img class="logo" src="{{ url_for('static', filename='images/unvlogo-white.png') }}" />
            {% block title %}<!-- Digital Collection Browser -->{% endblock %}
        </header>
        <main>
            <section class="leading">
            </section>
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>
