{% extends "base.html" %}
{% block title %}Collection Browser{% endblock %}
{% block body %}
<h1>{{ cname }}</h1>
<table width=100%>
    <tr>
        <td>
            {% if prev_page %}
            <a href="{{ prev_page }}">Previous</a> 
            {% endif %}
        </td>
        <td align="right">
            {% if next_page %}
            <a href="{{ next_page }}">Next</a>
            {% endif %}
        </td>
    </tr>
</table>
{% if cdesc %}
<h2>Description</h2>
<p>{{ cdesc }}</p>
{% endif %}
{% if members %}
    <h2>Members</h2>
    <table border="1x solid black">
    {% for m in members %}
    <tr>
        <td align="center"><img src="{{ m['thumb_url'] }}"></td>
        <td>
        {% if m['@type'] == "sc:Collection" %}
            <a href="{{ m['t_url'] }}">Subcollection: {{ m['label'] }}
        {% else %}
            <a href="{{ viewer_url }}?manifest={{ m['@id'] }}">Manifest: {{ m['label'] }}
        {% endif %}
            </a>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% if collections %}
    <h2>Sub-Collections</h2>
    <table border="1x solid black">
    {% for m in collections %}
    <tr>
        <td align="center"><img src="{{ m['thumb_url'] }}"></td>
        <td>
        {% if m['@type'] == "sc:Collection" %}
            <a href="{{ m['t_url'] }}">Subcollection: {{ m['label'] }}
        {% else %}
            <a href="{{ viewer_url }}?manifest={{ m['@id'] }}">Manifest: {{ m['label'] }}
        {% endif %}
            </a>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% if manifests %}
    <h2>Manifests</h2>
    <table border="1x solid black">
    {% for m in manifests %}
    <tr>
        <td align="center"><img src="{{ m['thumb_url'] }}"></td>
        <td>
        {% if m['@type'] == "sc:Collection" %}
            <a href="{{ m['t_url'] }}">Subcollection: {{ m['label'] }}
        {% else %}
            <a href="{{ viewer_url }}?manifest={{ m['@id'] }}">Manifest: {{ m['label'] }}
        {% endif %}
            </a>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
<table width=100%>
    <tr>
        <td>
            {% if prev_page %}
            <a href="{{ prev_page }}">Previous</a> 
            {% endif %}
        </td>
        <td align="right">
            {% if next_page %}
            <a href="{{ next_page }}">Next</a>
            {% endif %}
        </td>
    </tr>
</table>
{% if list_view %}
<p align="center"><a href="{{ list_view }}">List View</a></p>
{% endif %}
{% endblock %}
