{% extends "base.html" %}

{% block body %}

{% if cdesc %}
    <section class="description" role="complementary">
        <h1>{{ cname }}</h1>
        <p>{{ cdesc }}</p>
    </section>
{% endif %}

{% if members or manifests or collections %}
    <section class="view-row" role="navigation" aria-label="Primary">
        {% if prev_page %}
            <a class="previous" href="{{ prev_page }}">Previous Page</a> 
        {% endif %}

        {% if list_view %}
             <a class="list" shref="{{ list_view }}">List View</a>
        {% endif %}

        {% if next_page %}
            <a class="next" href="{{ next_page }}">Next Page</a>
        {% endif %}
    </section>

    <section class="thumbnails" id="content" role="main">
    {% for m in members+collections+manifests %}
        <figure>
            {% if m['@type'] == "sc:Collection" %}
                <a href="{{ m['t_url'] }}">
            {% else %}
                <a href="{{ viewer_url }}?manifest={{ m['@id'] }}">
            {% endif %}
                <img src="{{ m['thumb_url'] }}">
                <figcaption>{{ m['label'] }}</figcaption>
                </a>
        </figure>
    {% endfor %}
    </section>
{% endif %}

    <section class="view-row" role="navigation" aria-label="Secondary">
        {% if prev_page %}
            <a class="previous" href="{{ prev_page }}">Previous Page</a> 
        {% endif %}

        {% if list_view %}
             <a class="list" shref="{{ list_view }}">List View</a>
        {% endif %}

        {% if next_page %}
            <a class="next" href="{{ next_page }}">Next Page</a>
        {% endif %}
    </section>

{% endblock %}
